@import '../commons/common-css-rules.scss';

.about-container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 2rem;

  .image-wrapper {
    .about-img {
      width: 21.875rem;
      border-radius: 1.75rem;
      justify-content: center;
      background: transparent;
      padding: 1rem 0;
  
      @include lg {
        width: 15.75rem;
      }
    }
    @include lg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .about-data {
    .about-info {
      grid-template-columns: repeat(3, 8.75rem);
      gap: 0.5rem;
      margin-bottom: $mb-2;

      .about-box {
        background-color: $container-color;
        border: 1px solid rgba(129, 27, 116, 0.1);
        border-radius: 0.75rem;
        text-align: center;
        padding: 1rem 1.25rem;
        transition: $transition;

        .about-icon {
          font-size: 1.5rem;
          color: rgb(18, 13, 94);
          margin-bottom: $mb-0-5;
        }

        .about-title {
          font-size: $small-font-size;
          font-weight: $font-medium;
          color: $icon-color;
        }

        .about-subtitle {
          font-size: $tiny-font-size;
        }

        &:hover {
          border: 1px solid $link-color;
          transform: scale(1.05);
        }

        @include lg {
          padding: 0.75rem 0.5rem;
        }
      }

      @include lg {
        justify-content: center;
      }

      @include sm-md {
        grid-template-columns: repeat(3, 1fr);
      }

      @include sm {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .about-description {
      padding: 0 4rem 0 0;
      margin-bottom: $mb-2-5;
      text-align: justify;

      @include lg {
        padding: 0 5rem;
        margin-bottom: 2rem;
      }
      @include sm-md {
        padding: 0 0.5rem;
      }
      
    }

    @include lg {
      text-align: center;
    }
  }

  @include lg {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
}