@import '../commons/common-css-rules.scss';

.contact-container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 6rem;
  padding-bottom: 5rem;

  .contact-content {
    .contact-title {
      text-align: center;
      font-size: $h3-font-size;
      font-weight: $font-medium;
      margin-bottom: $mb-1-5;
    }

    .contact-info {
      display: grid;
      row-gap: 1rem;
      grid-template-columns: 18.75rem;

      .contact-card {
        background-color: $container-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1rem;
        border-radius: 0.75rem;
        position: relative;
        text-align: center;
        transition: $transition;

        .contact-card-icon {
          padding: 0.125rem;
          border-radius: 50%;
          font-size: 1.75rem;
          color: $link-color;
          margin-bottom: $mb-0-25;
        }

        .contact-card-title,
        .contact-card-data {
          font-size: $small-font-size;
        }

        .contact-card-title {
          font-weight: $font-medium;
        }

        .contact-card-data {
          display: block;
          margin-bottom: $mb-0-25;
        }

        .contact-button {
          color: $text-color;
          font-size: $font-medium;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          column-gap: 0.25rem;

          .contact-button-icon {
            color: $link-color;
            font-size: 1rem;
            transition: $transition;
          }

          &:hover {
            color: orangered;

            .contact-button-icon {
              transform: translateX(0.25rem);
            }
          }
        }

        &:hover {
          border-color: indigo;
          transform: scale(0.9);
        }
      }

      @include md {
        justify-content: center;
      }

      @include sm-md {
        grid-template-columns: 1fr;
      }
    }

    .contact-form {
      width: 22.5rem;

      .contact-form-content {
        position: relative;
        margin-bottom: $mb-2;
        height: 4rem;

        &.contact-form-area {
          height: 11rem;

          textarea {
            resize: none;
          }
        }

        .contact-form-input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid rgba(0, 0, 0, 0.3);
          background: none;
          color: $text-color;
          outline: none;
          border-radius: 0.75rem;
          padding: 1.5rem;
          z-index: 1;
        }

        .contact-form-tag {
          position: absolute;
          top: -0.75rem;
          left: 1.25rem;
          font-size: $small-font-size;
          padding: 0.25rem;
          background-color: $body-color;
          z-index: 10;
        }
      }

      @include md {
        margin: 0 auto;
      }

      @include sm-md {
        width: 100%;
      }
    }
  }

  @include lg {
    column-gap: 3rem;
  }

  @include md {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  @include sm {
    width: 100%;
  }
}
