@import '../commons/common-css-rules.scss';

.home-container {
  row-gap: 7rem;

  .home-content {
    grid-template-columns: 2.46rem repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;

    .home-img {
      background: url('../assets/profile.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: inset 0 0 0.5625rem rgb(255, 255, 255);
      order: 1;
      width: 18.75rem;
      height: 18.75rem;
      margin-left: 2rem;
      cursor: pointer;
      animation: animateProfile 8s ease-in-out infinite 1s;

      @include sm {
        width: 11.25rem;
        height: 11.25rem;
      }

      @include md {
        order: initial;
        justify-self: initial;
      }

      @include lg {
        width: 15.625rem;
        height: 15.625rem;
        box-shadow: inset 0 0 0 8px rgb(255, 255, 255);
      }
    }

    .home-socials {
      display: grid;
      grid-template-columns: max-content;
      row-gap: 1rem;

      .home-social-icon {
        font-size: 1.25rem;
        color: $icon-color;
        transition: $transition;

        &:hover {
          color: #834d07;
          opacity: 0.6;
          border: 1px solid transparent;
          border-radius: 50%;
          padding: 0.25rem;
        }
      }
    }

    .home-data {
      .home-title {
        display: flex;
        font-size: $h1-font-size;
        margin-bottom: $mb-0-25;
        background: -webkit-linear-gradient(#7e726f, hsl(330, 46%, 47%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        .home__hand {
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 0.5rem;

          @include lg {
            width: 1.625rem;
            height: 1.625rem;
          }
        }
      }

      .home-subtitle {
        position: relative;
        font-size: $h3-font-size;
        padding-left: 4.5rem;
        font-weight: $font-normal;
        margin-bottom: $mb-1;

        &::before {
          content: '';
          position: absolute;
          width: 4.375rem;
          height: 0.0625rem;
          background-color: $text-color;
          left: 0;
          top: 1rem;

          @include lg {
            width: 2.625rem;
            top: 0.8rem;
          }
        }

        @include lg {
          padding-left: 3.75rem;
          margin-bottom: $mb-1;
        }
      }

      .home-description {
        max-width: 25rem;
        margin-bottom: $mb-3;

        @include lg {
          max-width: initial;
          margin-bottom: $mb-2-5;
        }
      }

      @include sm {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
      }

      @include lg {
        grid-template-columns: 2.15rem repeat(2, 1fr);
        column-gap: 1.25rem;
      }

      @include md {
        grid-column: 1/3;
      }
    }
  }

  .home-scroll {
    margin-left: 9.25rem;
    display: flex;
    align-items: center;

    .wheel {
      animation: scroll 2s ease infinite;
    }

    .home-scroll-name {
      color: $title-color;
      font-weight: $font-medium;
      margin-right: $mb-0-25;
      margin-left: 0.125rem;
      font-family: $nunito-font;
    }

    .home-scroll-arrow {
      font-size: 1.25rem;
      color: $title-color;
    }

    @include md {
      display: none;
    }

    @include lg {
      margin-left: 2.5rem;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(3.75rem);
  }
}

@keyframes animateProfile {
  0% {
    border-radius: 50%;
    // 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 50%;
    // 60% 70% 40%/50% 60% 30% 60%
  }

  100% {
    border-radius: 50%;
    // 40% 30% 70%/60% 30% 70% 40%
  }
}
